<div class="row" *ngIf="list.length > 0">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let msg of list; 
            let idx = index" 
            [class.active]="idx === selectedChat"
            (click)="selectChat(idx)"
            style="cursor: pointer;"
         >
            <app-message-card [user]="user" [message]="msg" ></app-message-card>
        </li>
      </ul>  
    </div>
    <div class="col-8">
      <h3 *ngIf="selectedChat === -1" style="text-align: center;">Select chat to open it</h3>
      <app-member-messages *ngIf="selectedChat >= 0" [username]="messageService.getChatName(user, list[selectedChat])" ></app-member-messages>
    </div>
</div>

<div *ngIf="list.length === 0 && !loading">
  <h3 style="text-align: center;">You have no messages</h3>
</div>